
h1{
      font-family: league spartum;
      color: chocolate;
      text-align: center;
      font-size: 55px;
      font-weight: 900;
      letter-spacing: 2px;
      line-height: 1.5;

      text-decoration:  teal underline;
      text-transform: uppercase;  

}
p +h3 {
     
      background-color: aquamarine;
}
