#Container{

     height: 300px;
     width: 80%;
     border: 2px solid black;
     margin: 10px auto;
     background-color: azure;
     display: flex;
     /* flex-direction: column ; */
     /* flex-direction: row-reverse; */
     flex-direction: row;
     /* justify-content: flex-start; */
     justify-content: flex-start;
      /* justify-content: center; */
      /* justify-content: space-between; */
       /* justify-content:space-evenly; */
      /* justify-content: space-around; */

       /* flex-wrap: wrap-reverse;   */
        /* flex-wrap: nowrap; */
      flex-wrap: wrap;
      /* align-items: flex-start; */
      /* align-items: flex-end; */
      /* align-items: center; */
      /* align-items: baseline; */
      align-content: start;
      align-content: center;
      align-content: end;
      
       

     

}

h1{
      text-align: center ;
     
}

#Container div{

      height: 70px;
      width: 300px;
      color: white;
      text-align: center;
      font-size: 1.5rem;

}







.violet{
      background-color: violet;
}
.indigo{
      background-color: indigo;
}
.blue{
      background-color: blue;
}
.green{

      background-color: green;
}

.yellow{

      background-color: yellow;
}
.orange{
      background-color: orange;
}
.red{
      background-color: red;
}


