.container{

      height: 300px;
      width: 600px;
      background-color: black;
      display: flex;
      display: grid;
      /* grid-template-rows: 70px 70px 70px 70px 70px; */
      /* grid-template-columns: 160px 160px 160px 160px 160px ; */
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(4,1fr);
       column-gap: 10px;
       row-gap: 10px;
       place-items: center;
}
.items{

      /* width: 100px;
      height: 50px; */
      background-color: greenyellow;
      text-align: center;
      border: 2px solid black;
}
.one{

      grid-column-start: 1;
      grid-column-end: 3;
      /* justify-self: start; */

}