

#some {
   width: 500px;
   height: 300px;
   margin: 15px auto;
   background-color: #7aa874;
   background-image: url(name.jpg);
   background-size: contain;
   background-size: cover;
   background-size: auto;
}


.card {
   width: 220px;
   height: 220px;
   border: 2px solid #000000;
   display: inline-block;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 0px 4px 8px black;
   transition: 1s;
}

.dec {

   padding: 0 2px 0 2px;
}

img {

   width: 100%;
   border: 5px 5px 0 0;
}

.card:hover {
   box-shadow: 0px 8px 16px goldenrod;

}

.face {

   width:400px;
   height: 400px;
   background-color: orange;
   border-radius: 50%;
}
.month{
   width: 200px;
   height: 75px;
   border-radius: 0 0 50px 50px;
   background-color:red ;
   position: relative;
   top: 260px;
   left: 106px;
}


.eye{

      display: inline-block;
}
.left{


   height: 50px;
   width: 50px;
   border-radius: 30%;
   background-color: #000000;
   display: inline-block;
   position: relative;
    left:230px;
   top: 30px;
   border-radius: 50%;


  
}
.right{
display: inline-block;
   background-color: #000000;
   height: 50px;
      width: 50px;
      border-radius: 50%;
      position: relative;
    left: 75px;
      top: 30px;
}