div {
      width: 120px;
      height: 120px;
      background-color: green;
      border: 3px solid black;
      margin: 10px;
      display: inline-block;


}

#static {

      background-color: yellow;
      position: static;
      top: 100px;
      left: 100px;
}


#relative {
      background-color: yellow;
      position: relative;
      top: 100px;
      left: 100px;
}

#absolate{
      background-color: yellow;
           position:absolute;
            top: 100px;
            left: 100px;
}
#fixed{
           background-color: yellow;
           position: fixed;
            top: 100px;
            left: 100px;
}
