*{
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      background-color: black;
      color: #fff;
      overflow: hidden;
}
.main{

      display: flex;
      height:100vh;
      padding: 0.5rem;
}
.sidebar{

      background-color: black;
      width: 300px;
      border-radius: 1rem;
      margin-right: 0.5;
}
.main-content{

      background-color: #000;
      flex: 1;
      border-radius: 1rem;
      overflow: auto;
      padding:   0  1.5rem 0 1.5rem;
}
.music-player{

      background-color: black;
      position:fixed;
      bottom: 0;
      width: 100%;
      height: 72px;

}
a {

      text-decoration:none;
      color: #fff;
}
.nav {

      background-color:#121212;
      border-radius:1rem;
      display: flex;
     flex-direction:column;
     justify-content: center;
     height: 100px;
     padding: 0.5rem 0.75rem;
}
.nav-opation{

      line-height:2.5rem;
      opacity: 0.7;
      padding: 0.5rem 0.75rem;
}
.nav-opation:hover {
      opacity: 1;
}

.nav-opation i{

      font-size: 1.25rem;
}
.nav-opation a {

         font-size: 1rem;
         margin-left: 1rem;
}
.library{

      background-color: #121212;
      border-radius: 1rem;
      height: 100%;
      margin-top: 0.5rem;
      padding: 0.5rem 0.75rem;
}
.opation{

      display: flex;
      justify-content: space-between;
    align-items: center;
}
.lib-opation img {

      height:1.25rem;
      width: 1.25em; 
}
.icon{

      font-size: 1.25rem;
      opacity: 0.7;
      margin-right:1rem;
      display: flex;
}
.icon i {

      opacity: 0.7;
      margin-right: 1rem;
}
.icon i:hover{
      opacity:1;
}
.box{

      background-color:#232323;
      height:9.5rem;
      border-radius: 0.75rem;
      margin:0.5rem 0  0.6rem;
      padding: 0.75rem 1rem;
}
.box-p1{

       font-size:1rem;
       font-weight: 700;
      background-color: #232323;
      color: white;
      margin-top: 0.7rem;

}
.box-p2{

      font-size:0.95rem;
      font-weight: 700;
      background-color: #232323;
      opacity:0.7;
      margin-top: 0.9rem;
      color: white;
      
}
.badge{

      background-color: #fff;
      color: #000;
      border: none;
      border-radius: 100px;
      font-size: 1rem;
      font-weight: 700;
      margin-top: 1rem ;
      height: 2rem;
      width: fit-content;

}
.dark-badge{

      background-color:#000;
      color: #fff;
}


.sticky-nav{

      position: sticky;
      top: 0;
      background-color: #000;
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      z-index: 10;
     
}
.sticky-nav-icons {

      margin: 0.75rem;
}
.sticky-nav-opation{

      display: flex;
      justify-content: center;
      align-items: center;
      
}
.nav-item{

      margin-right:1rem;
}
@media (max-width:1000px) {
      
         .hide {
            display:none;
         }
}
.card{
      background-color: #232323;
      width: 180px;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-left: 1.5rem;
   
}
.cards-container{

      display: flex;

}
.card-img{
            width: 170px;
            height: 170px;

      border-radius: 0.5rem;
}
h2{
      padding-top: 2rem;
      padding-bottom: 2rem;
}
.Card-title{

      font-weight: 800;
      background-color: #232323;
      padding-top:1rem;
}
.card-infor{

       font-size: 0.90rem;
      background-color: #232323;
      padding-top: 1rem;
      opacity: 0.5;
}
.foot{
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

}
.line{
      height:50%;
      width:90%;
    border-top: 1px solid white;
      opacity: 0.4;

}
.music-player{

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
}

.ablum{
      width: 25%;
     
}
.player{

      width: 50%;
     
}
.control{
      width: 25%;
     
}

.player-control{

      display: flex;
      justify-content: center;
      align-items: center;
     
}
.player-control-icon{

      height: 1rem;
      margin-right: 1.75rem;
      opacity: 0.7;
}
.player-control-icon:hover{

      opacity: 1;
}
.playback-bars{

      display: flex;
      justify-content: center;
      align-items: center;
}
.progress-bars{
      width: 70%;
      appearance:none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bars::-webkit-slider-runnable-track{

      background-color: #ddd;
      border-radius: 100px;
      height: 0.2rem;
}
.progress-bars::-webkit-slider-thumb{

      appearance:none;
      height: 1rem;
      width: 1rem;
      background-color: #1bd760;
      border-radius: 50%;
      margin-top: -6px;

}

