* {
      font-family: 'Courier New';
      background-color: white;

}

h1,

h3 {
      color: #b92b27;
      ;
}

#login {
      background-color: white;
}

#signup {
      color: white;
      background-color: #b92b27;
}

.upvote {

      background-color: green;
      color: aliceblue;
}

/*  decsendant selector */

.post a {
      color: purple;
      background-color: yellow;
}

nav ul li a {
      color: hotpink;
      color: hotpink;
}

 p+h3 {
      text-decoration: underline;
} 

.upvote+button {

      background-color: cornflowerblue;
      color: blue darkblue;
}

div>input {
      background-color: darksalmon;
}

input[type="text"] {

      color: green;


}

input[type="Password"] {
      color:blue;
      



}

input[type] {

      background-color: ghostwhite;
}

#myId p {
      color: blue;
}

button:hover {
      background-color: black;
      color: white;

}

h3:hover {

      text-decoration: overline;
}

button:active {
      color: black;
      background-color: hotpink;

}

p:active {
      font-weight: 400;
      color: green;
}

input[type="radio"]:checked+label {
      color: red;
      font-weight: bold;
}

div:nth-of-type(2n + 1) {
      background-color: blanchedalmond;

}
h1::first-letter{

      color:green;
}  
#myposty p::first-letter{

      color: blue;
}
#myposty p::first-line {

      color: gold;
}
 p::selection {

      background-color: rgb(192, 19, 58);
}



