body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
}
form{

      background-color: #ffffff;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 4px 6x rgb(0, 0, 0,0.1);
      width: 400px;
}
form h2{

      text-align: center;
      margin-bottom:20px ;
      color: #333;
}
label{
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
      color: #555;

}
input,select,textarea,button{
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
}
input:focus,select:focus,textarea{

      border-color: #007bff;
      outline:none ;
}
button{

      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition:background-color 0.3s ease;
}
button:hover{

     background-color: #0056b3;
}
textarea{

      resize: none;
}
